# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\web-gis\web_GIS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
